.jumbotron.jumbotron-fluid.p-4
  .container
    -# .alert.alert-secondary.mt-4
    %h1.display-4
      #{current_user.nickname}
      %span.h5
        さん
    %p
      My Profile 情報編集画面
.container
  %label.mt-3.mb-4(for="") ---プロフィール---
  = form_with(model: @profile, class: "form-horizontal mb-3", local: true) do |f|
    = render 'layouts/error_messages', model: f.object
    .form-group
      = f.label "メイン写真を設定する"
      %br/
      -# 編集前に画像が存在していれば編集画面に表示
      - if current_user.profile.image?
        = image_tag current_user.profile.image.url(:thumb), class: "thumb mb-2", style: "border:solid 1px #ccc;padding:4px"
      = f.file_field :image, class: "form-control-file"
      %p
        = f.check_box :remove_image #画像を削除するチェックボックスremove_カラム名
        画像を削除する
    .form-group
      = f.label :VR, "VR画像を設定する"
      %br/
      -# 編集前に画像が存在していれば編集画面に表示
      - if current_user.profile.sub_image?
        = image_tag current_user.profile.sub_image.url(:thumb), class: "thumb mb-2", style: "border:solid 1px #ccc;padding:4px"
      = f.file_field :sub_image, class: "form-control-file"
      %p
        = f.check_box :remove_sub_image #画像を削除するチェックボックスremove_カラム名
        画像を削除する
    .form-group
      -# カラム追加済み
      = f.label "キャッチコピー"
      = f.text_field :catch_copy, class: "form-control"
    .form-group
      = f.label "名字"
      = f.text_field :first_name, class: "form-control"
    .form-group
      = f.label "名前"
      = f.text_field :family_name, class: "form-control"
    .form-group
      = f.label "名字（ふりがな）"
      = f.text_field :first_name_kana, class: "form-control"
    .form-group
      = f.label "名前（ふりがな）"
      = f.text_field :family_name_kana, class: "form-control"
    .form-group
      = f.label "password"
      = f.text_field :password, class: "form-control"
    .form-group
      = f.label "郵便番号 ※半角数字のみ（ハイフンなし）"
      -# 半角数字のみ（ハイフンなし）
      = f.text_field :post_code, class: "form-control", pattern: "^[0-9]+$"
    .form-group
      = f.label "都道府県"
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class: "form-control"}
    .form-group
      = f.label "市区町村"
      = f.text_field :city, class: "form-control"
    .form-group
      = f.label "以降の住所"
      = f.text_field :address_number, class: "form-control"
    .form-group
      = f.label "建物"
      = f.text_field :building, class: "form-control"
    .form-group
      = f.label "電話番号 ※半角数字のみ（ハイフンなし）"
      = f.text_field :phone, class: "form-control", pattern: "^[0-9]+$"
    .form-group
      = f.label "生年月日"
      = f.date_select :birth_date, {year_format: ->year { "#{Date.new(year, 12, 31).jisx0301.split('.').first}(#{year})" },use_month_numbers: true, start_year: 1950, end_year: Time.now.year, prompt: "---"}, {class: "form-control"}
    .form-group
      = f.label "小学校"
      = f.text_field :primary_school, class: "form-control"
    .form-group
      = f.label "中学校"
      = f.text_field :Junior_high_school, class: "form-control"
    .form-group
      = f.label "高校"
      = f.text_field :high_school, class: "form-control"
    .form-group
      = f.label "大学"
      = f.text_field :university, class: "form-control"
    .form-group
      = f.label "大学院"
      = f.text_field :graduate_school, class: "form-control"
    .form-group
      = f.label "専門学校"
      = f.text_field :vocational_school, class: "form-control"
    .form-group
      = f.label "その他学歴"
      = f.text_field :other_school, class: "form-control"
    .form-group
      = f.label "職歴１"
      = f.text_field :first_career, class: "form-control"
    .form-group
      = f.label "職歴２"
      = f.text_field :second_career, class: "form-control"
    .form-group
      = f.label "職歴３"
      = f.text_field :third_career, class: "form-control"
    .form-group
      = f.label "職歴４"
      = f.text_field :fourth_career, class: "form-control"
    .form-group
      = f.label "職歴５"
      = f.text_field :last_career, class: "form-control"
    .form-group
      = f.label "FaceBook"
      = f.text_field :facebook, class: "form-control"
    .form-group
      = f.label "Twitter"
      = f.text_field :twitter, class: "form-control"
    .form-group
      = f.label "ホームページ"
      = f.text_field :hp, class: "form-control"

    %label.mt-3.mb-4(for="") ---自己紹介---

    .form-group
      = f.label "タイトル"
      -# カラム追加済み
      = f.text_field :avatar_title, class: "form-control"
    .form-group
      = f.label "キャッチコピー"
      -# カラム追加済み
      = f.text_field :avatar_catch_copy, class: "form-control"
    .form-group
      = f.label "紹介文"
      = f.text_area :introduction, class: "form-control", row: 5, maxlength: "500", placeholder: "500文字まで"
    .form-group
      = f.label "アバター写真"
      %br/
      -# 編集前に画像が存在していれば編集画面に表示
      - if current_user.profile.avatar?
        = image_tag current_user.profile.avatar.url(:thumb), class: "thumb mb-2", style: "border:solid 1px #ccc;padding:4px"
      = f.file_field :avatar, class: "form-control-file"
      %p
        = f.check_box :remove_avatar #画像を削除するチェックボックスremove_カラム名
        画像を削除する
    .form-group
      = f.label "写真についての説明文"
      -# カラム追加済み
      = f.text_area :avatar_about, class: "form-control", row: 5, maxlength: "500", placeholder: "500文字まで"

    %button.btn.btn-secondary.mt-3.mb-4 自己紹介を追加する

    .form-group
      = f.label "タグ（複数つける場合は半角カンマで区切ってください）"
      = f.text_field :tag_ids, class: "form-control", id: "tag_ids", value: @tag_list, data: {role: "tagsinput"} 
    -# ↓送信OK

    .form-group
      = f.label "ギャラリー写真（同時に10枚までアップロードできます）"
      #image-previews
        - @profile.images.each_with_index do |image, i|
          .preview( data-index = "#{i}" )
            .preview__photo
              = image_tag image.src.url, data: { index: i }, class: "image-size"
            .preview__button
              .preview__button--edit
                %button.btn.btn-outline-secondary.change-img(type="button")
                  変更
              .preview__button--delete
                %button.btn.btn-outline-secondary.delete-img(type="button")
                  削除
      #image-box
        = f.fields_for :images do |i|
          .input-group.hiddenEdit( data-index = "#{i.index}" )
            .js-file_group.custom-file( data-index = "#{i.index}" )
              = i.file_field :src, class: 'js-file custom-file-input'
              %label.custom-file-label{ for: "inputFile" }( data-browse="参照" )
                ここにファイル名
            .input-group-append
              %button.btn.btn-outline-secondary.input-group-text.js-remove(type="button")
                削除
            - if @profile.persisted?
              = i.check_box :_destroy, data: { index: i.index }

          -# - if @profile.persisted?
          -#   .js-file_group( data-index = "#{@profile.images.count}" )
          -#     = file_field_tag :src, name: "product[images_attributes][#{@profile.images.count}][src]", class: 'js-file'
          -#     .js-remove 削除
    = f.submit class: "btn btn-primary"