= render 'layouts/header'
.list-page
  .jumbotron.jumbotron-fluid.p-4
    .container
      %h1.display-4.mb-3
        人物一覧
      %p
        This is an introduction of recommended peoples.

      .search-list-page
        %hr.my-4
          = search_form_for @q do |f|
            .sorts.row.m-auto
              = f.select( :sorts, { 'ニックネーム順': 'user_nickname asc','ニックネーム逆順': 'user_nickname desc','更新の古い順': 'updated_at asc', '更新の新しい順': 'updated_at desc' }, { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()', class: 'form-group form-control sort col-md-3 col-12'} ) 
              .form-group.keyword.col-md-7.col-12.p-0.pl-md-3.pr-md-3
                -# = f.label :name_or_explanation, "キーワード検索", class: "mt-2"
                = f.text_field :first_name_or_family_name_or_first_name_kana_or_family_name_kana_or_city_or_post_code_or_address_number_or_building_or_introduction_or_user_nickname_cont, class: "form-control ", placeholder: "キーワード検索"
              .form-group.col-md-2.col-12.p-0
                = f.submit "検索", class: "btn btn-primary", style: "width: 100%;"
  
      -# = link_to("プロフィール", users_path(id: current_user.id), { class: "btn btn-info mt-3" })
      -# = link_to("店舗", store_profiles_path, { class: "btn btn-info mt-3" })
      -# = link_to("商品", item_profiles_path, { class: "btn btn-info mt-3" })
      -# = link_to("サービス", service_profiles_path, { class: "btn btn-info mt-3" })
      -# = link_to("イベント", event_profiles_path, { class: "btn btn-info mt-3" })

      -# = render 'layouts/search_list_page'


  %section.container
    .row
      - @profiles.each do |profile|
        .col-lg-3.col-md-4.col-sm-6.col-xs-2.mb-4
          = link_to profile_path(profile.id) do
            .card.commonButton
              .card-image
                - if profile.image.present?
                  = image_tag(profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
                - else
                  %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
              
              .card-body
                %h5.card-title
                  = profile.user.nickname
                .small.text-muted
                  = "投稿者：#{profile.user.nickname}"
                .small.text-muted{style: "margin-bottom: 12px"}
                  = "最終更新：#{time_ago_in_words(profile.updated_at)}前"
                %p.card-text
                  = profile.catch_copy.truncate(30)
    %section
      %p
        = page_entries_info @profiles
      .paginate.mb-4
        = paginate @profiles