.container
  .alert.alert-secondary.mt-4
    %h1
      #{current_user.nickname}さんのMy Profile情報入力画面

  %label.mt-3.mb-4(for="") ---プロフィール---
  = form_with(model: @profile, class: "form-horizontal mb-3", local: true) do |f|
    .form-group
      = f.label "メイン写真を設定する"
      %input.form-control-file(type="file")/
    .form-group
      = f.label "サブ写真を設定する"
      %input.form-control-file(type="file")/
    .form-group
      -# 要カラム追加
      = f.label "キャッチコピー"
      %input.form-control(type="text")/
    .form-group
      = f.label "名字"
      = f.text_field :first_name, class: "form-control"
    .form-group
      = f.label "名前"
      = f.text_field :family_name, class: "form-control"
    .form-group
      = f.label "名字（ふりがな）"
      = f.text_field :first_name_kana, class: "form-control"
    .form-group
      = f.label "名前（ふりがな）"
      = f.text_field :family_name_kana, class: "form-control"
    .form-group
      = f.label "郵便番号 ※半角数字のみ（ハイフンなし）"
      -# 半角数字のみ（ハイフンなし）
      = f.text_field :post_code, class: "form-control", pattern: "^[0-9]+$"
    .form-group
      = f.label "都道府県"
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class: "form-control"}
    .form-group
      = f.label "市区町村"
      = f.text_field :city, class: "form-control"
    .form-group
      = f.label "以降の住所"
      = f.text_field :address_number, class: "form-control"
    .form-group
      = f.label "電話番号 ※半角数字のみ（ハイフンなし）"
      = f.text_field :phone, class: "form-control", pattern: "^[0-9]+$"
    .form-group
      = f.label "生年月日"
      = f.date_select :birth_date, {year_format: ->year { "#{Date.new(year, 12, 31).jisx0301.split('.').first}(#{year})" },use_month_numbers: true, start_year: 1950, end_year: Time.now.year, prompt: "---"}, {class: "form-control"}
    .form-group
      = f.label "小学校"
      = f.text_field :primary_school, class: "form-control"
    .form-group
      = f.label "中学校"
      = f.text_field :Junior_high_school, class: "form-control"
    .form-group
      = f.label "高校"
      = f.text_field :high_school, class: "form-control"
    .form-group
      = f.label "大学"
      = f.text_field :university, class: "form-control"
    .form-group
      = f.label "大学院"
      = f.text_field :graduate_school, class: "form-control"
    .form-group
      = f.label "専門学校"
      = f.text_field :vocational_school, class: "form-control"
    .form-group
      = f.label "その他学歴"
      = f.text_field :other_school, class: "form-control"
    .form-group
      = f.label "職歴１"
      = f.text_field :first_career, class: "form-control"
    .form-group
      = f.label "職歴２"
      = f.text_field :second_career, class: "form-control"
    .form-group
      = f.label "職歴３"
      = f.text_field :third_career, class: "form-control"
    .form-group
      = f.label "職歴４"
      = f.text_field :fourth_career, class: "form-control"
    .form-group
      = f.label "職歴５"
      = f.text_field :last_career, class: "form-control"
    .form-group
      = f.label "FaceBookのURL"
      = f.text_field :facebook, class: "form-control"
    .form-group
      = f.label "TwitterのURL"
      = f.text_field :twitter, class: "form-control"
    .form-group
      = f.label "ホームページのURL"
      = f.text_field :hp, class: "form-control"

    %label.mt-3.mb-4(for="") ---自己紹介---

    .form-group
      = f.label "タイトル"
      -# 要カラム追加
      %input.form-control(type="text")/
    .form-group
      = f.label "キャッチコピー"
      -# 要カラム追加
      %input.form-control(type="text")/
    .form-group
      = f.label "紹介文"
      = f.text_area :introduction, class: "form-control", name: "introduction", cols: "30", rows: "5", maxlength: "500", placeholder: "500文字まで"
    .form-group
      = f.label "アバター写真"
      = f.file_field :avatar, class: "form-control-file"
    .form-group
      = f.label "写真についての説明文"
      -# ↓この項目が必要な場合は要カラム追加
      %textarea.form-control(name="introduction" cols="30" rows="5" maxlength="500" placeholder="500文字まで")

    %button.btn.btn-secondary.mt-3.mb-4 自己紹介を追加する

    .form-group
      = f.label "タグ"
      -# ↓バックエンドに取り掛かったら設定
      %input.form-control(type="text")/
    -# ↓現時点ではログインユーザーとの絡みができていないので送信不可
    = f.submit class: "btn btn-primary"