= render 'layouts/header'
.jumbotron.jumbotron-fluid.p-4
  .container
    .d-flex
      .text-right
        = link_to selectm_profiles_path do
          中段
      .text-right.ml-4
        = link_to selectb_profiles_path do
          下段
      .col.text-right
        = link_to '戻る', :back
      
    .h3.text-center
      上段ユーザー選択
.select_users.mt-5.container-fuild
  = form_with model: @profile, url: top_profiles_path, method: "patch", class: "select_user",local: true do |f|
    .boxes.d-flex.top_candidate.row
      - @profile.each do |profile|
        .profile_name.m-3
          = f.check_box :top_ids, {multiple: true, class: "top"}, profile[:id]
          = image_tag(profile.avatar.url, alt: "", class: "rounded-circle minisize-icon")
          = profile.user.nickname
      %ul#top_list
    .btn_all.m-3.pt-3.pb-3
      = f.submit "選択" 
        


