.jumbotron.jumbotron-fluid.p-4
  .container
    .col.text-right
      = link_to '戻る', :back
    .col.text-right
      = link_to profile_select_path(1) do
        top
    .col.text-right
      = link_to profile_selectm_path(1) do
        middle
    .h3.text-center
      bottomユーザー選択
.select_users.mt-5.container-fuild
  = form_with model: @profile, url: profile_bottom_path, method: "patch", class: "select_user",local: true do |f|
    .boxes.d-flex.bottom_candidate.row
      - @profile.each do |profile|
        .profile_name.m-3
          = f.check_box :bottom_ids, {multiple: true, class: "bottom"}, profile[:id]
          = image_tag(profile.avatar.url, alt: "", class: "rounded-circle minisize-icon")
          = profile.user.nickname
      %ul#bottom_list
    .btn_all.m-3.pt-3.pb-3
      = f.submit "選択"