= form_with url: priority_service_profiles_path, method: :post, local: true do |f|
  .form-group
    = f.label "サービス"
    = f.select :service_profile_id, @service_profiles_select_array, {include_blank: "サービスを選択してください"}, {class: 'form-control mb-2'}
    = f.select :priority_number, @priority_number_array, {include_blank: "優先順位を選択してください"}, {class: 'form-control mb-2'}
    = f.submit "決定" ,class: "btn btn-info"


%p.mb-2
  選択中のサービスと順位
.row
  - PriorityServiceProfile.all.each do |service_profile|
    - ServiceProfile.where(id: service_profile.service_profile_id).each do |ser_profile|
      .col-lg-3.col-md-4.col-sm-6.col-xs-2.mb-4
        .card.mb-2
          .card-image
            - if ser_profile.image.present?
              = image_tag(ser_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
            - else
              %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body
            %h5.card-title
              = ser_profile.name
            .small.text-muted
              = "投稿者：#{ser_profile.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              = "最終更新：#{time_ago_in_words(ser_profile.updated_at)}前"
            %p.card-text
              = service_profile.priority_number
        = form_with url: priority_service_profile_path(id: service_profile.id), method: :delete, local: true do |f|
          = f.submit "解除する", class: "btn btn-danger"
