-# 店舗
-# %br
= form_with url: priority_store_profiles_path, method: :post, local: true do |f|
  .form-group
    = f.label "店舗"
    = f.select :store_profile_id, @store_profiles_select_array, {include_blank: "店舗を選択してください"}, {class: 'form-control mb-2'}
    = f.select :priority_number, @priority_number_array, {include_blank: "優先順位を選択してください"}, {class: 'form-control mb-2'}
    -# = f.collection_select :id, @store_profiles, :id, :name, inculde_blank: "選択してください"
    -# = f.collection_select :priority_number, @store_profiles, :priority_number, :name, inculde_blank: "選択してください"
    = f.submit "決定" ,class: "btn btn-info"
  -# %br


%p.mb-2
  選択中の店舗と順位
-# %br
.row
  - PriorityStoreProfile.all.each do |store_profile|
    - StoreProfile.where(id: store_profile.store_profile_id).each do |s_profile|
      .col-lg-3.col-md-4.col-sm-6.col-xs-2.mb-4
        .card.mb-2
          .card-image
            - if s_profile.image.present?
              = image_tag(s_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
            - else
              %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body
            %h5.card-title
              = s_profile.name
            .small.text-muted
              = "投稿者：#{s_profile.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              = "最終更新：#{time_ago_in_words(s_profile.updated_at)}前"
            %p.card-text
              -# = s_profile.explanation.truncate(30)
              = store_profile.priority_number
        = form_with url: priority_store_profile_path(id: store_profile.id), method: :delete, local: true do |f|
          = f.submit "解除する", class: "btn btn-danger"

-# 選択中の店舗と順位
-# %br
-# - PriorityStoreProfile.all.each do |store_profile|
-#   - StoreProfile.where(id: store_profile.store_profile_id).each do |s_profile|
-#     = s_profile.name
-#     = store_profile.priority_number
-#     = form_with url: priority_store_profile_path(id: store_profile.id), method: :delete, local: true do |f|
-#       = f.submit "解除する", class: "btn btn-danger"
-#     %br
-# %br