.jumbotron.jumbotron-fluid.p-4
  .container
    -# トップへ戻るボタン
    -# .col.text-right
    -#   = link_to root_path  do
    -#     TOP
    -# .alert.alert-secondary.mt-4
    %h1.display-4.mb-4
      サービス
      -# %span.h5
      -#   さん
    %p
      おすすめのサービス紹介
    %p
      This is an introduction of recommended services.

    -# = link_to("プロフィール", users_path(id: current_user.id), { class: "btn btn-info mt-3" })
    = link_to("人物", profiles_path, { class: "btn btn-info mt-3" })
    = link_to("店舗", store_profiles_path, { class: "btn btn-info mt-3" })
    = link_to("商品", item_profiles_path, { class: "btn btn-info mt-3" })
    -# = link_to("サービス", service_profiles_path, { class: "btn btn-info mt-3" })
    = link_to("イベント", event_profiles_path, { class: "btn btn-info mt-3" })

.container
  .row

    -# ここから佐久間さん指定の6枚
    - if @priority_service_profile1 != nil
      .col-lg-4
        .card.mb-3
          -if @priority_service_profile1.image.present?
            = image_tag(@priority_service_profile1.image.url, class: "card-img-top")
          - else
            %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body{style: "height: 276px; position: relative;"}
            %h5.card-title
              - if @priority_service_profile1 != nil
                = @priority_service_profile1.name
            - if @priority_service_profile1 != nil
              .small.text-muted
                = "投稿者：#{@priority_service_profile1.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              - if @priority_service_profile1 != nil
                = "最終更新：#{time_ago_in_words(@priority_service_profile1.updated_at)}前"
            %p.card-text{style: "height: 72px"}
              - if @priority_service_profile1 != nil
                = @priority_service_profile1.explanation.truncate(45)
            %div{style: "position: absolute; left: 20px; bottom: 20px"}
              = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile1.id), { class: "btn btn-primary mt-3" })
            %div{style: "position: absolute; right: 32px; bottom: 28px"}
              %p.text-muted
                ★PR
    -# - else
    -#   .col-lg-4
    -#     .card.mb-3
    -#       %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
    -#       .card-body{style: "height: 276px; position: relative;"}
    -#         %h5.card-title
    -#         -#   - if @priority_service_profile1 != nil
    -#         -#     = @priority_service_profile1.name
    -#         -# - if @priority_service_profile1 != nil
    -#           .small.text-muted
    -#         -#     = "投稿者：#{@priority_service_profile1.user.nickname}"
    -#         .small.text-muted{style: "margin-bottom: 12px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = "最終更新：#{time_ago_in_words(@priority_service_profile1.updated_at)}前"
    -#         %p.card-text{style: "height: 72px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = @priority_service_profile1.explanation.truncate(45)
    -#         %div{style: "position: absolute; left: 20px; bottom: 20px"}
    -#           -# = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile1.id), { class: "btn btn-primary mt-3" })
    -#         %div{style: "position: absolute; right: 32px; bottom: 28px"}
    -#           %p.text-muted
    -#             ★PR

    -if @priority_service_profile2 != nil
      .col-lg-4
        .card.mb-3
          -if @priority_service_profile2.image.present?
            = image_tag(@priority_service_profile2.image.url, class: "card-img-top")
          - else
            %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body{style: "height: 276px; position: relative;"}
            %h5.card-title
              - if @priority_service_profile2 != nil
                = @priority_service_profile2.name
            - if @priority_service_profile2 != nil
              .small.text-muted
                = "投稿者：#{@priority_service_profile2.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              - if @priority_service_profile2 != nil
                = "最終更新：#{time_ago_in_words(@priority_service_profile2.updated_at)}前"
            %p.card-text{style: "height: 72px"}
              - if @priority_service_profile2 != nil
                = @priority_service_profile2.explanation.truncate(45)
            %div{style: "position: absolute; left: 20px; bottom: 20px"}
              = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile2.id), { class: "btn btn-primary mt-3" })
            %div{style: "position: absolute; right: 32px; bottom: 28px"}
              %p.text-muted
                ★PR
    -# - else
    -#   .col-lg-4
    -#     .card.mb-3
    -#       %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
    -#       .card-body{style: "height: 276px; position: relative;"}
    -#         %h5.card-title
    -#         -#   - if @priority_service_profile1 != nil
    -#         -#     = @priority_service_profile1.name
    -#         -# - if @priority_service_profile1 != nil
    -#           .small.text-muted
    -#         -#     = "投稿者：#{@priority_service_profile1.user.nickname}"
    -#         .small.text-muted{style: "margin-bottom: 12px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = "最終更新：#{time_ago_in_words(@priority_service_profile1.updated_at)}前"
    -#         %p.card-text{style: "height: 72px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = @priority_service_profile1.explanation.truncate(45)
    -#         %div{style: "position: absolute; left: 20px; bottom: 20px"}
    -#           -# = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile1.id), { class: "btn btn-primary mt-3" })
    -#         %div{style: "position: absolute; right: 32px; bottom: 28px"}
    -#           %p.text-muted
    -#             ★PR

    -if @priority_service_profile3 != nil
      .col-lg-4
        .card.mb-3
          -if @priority_service_profile3.image.present?
            = image_tag(@priority_service_profile3.image.url, class: "card-img-top")
          - else
            %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body{style: "height: 276px; position: relative;"}
            %h5.card-title
              - if @priority_service_profile3 != nil
                = @priority_service_profile3.name
            - if @priority_service_profile3 != nil
              .small.text-muted
                = "投稿者：#{@priority_service_profile3.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              - if @priority_service_profile3 != nil
                = "最終更新：#{time_ago_in_words(@priority_service_profile3.updated_at)}前"
            %p.card-text{style: "height: 72px"}
              - if @priority_service_profile3 != nil
                = @priority_service_profile3.explanation.truncate(45)
            %div{style: "position: absolute; left: 20px; bottom: 20px"}
              = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile3.id), { class: "btn btn-primary mt-3" })
            %div{style: "position: absolute; right: 32px; bottom: 28px"}
              %p.text-muted
                ★PR
    -# - else
    -#   .col-lg-4
    -#     .card.mb-3
    -#       %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
    -#       .card-body{style: "height: 276px; position: relative;"}
    -#         %h5.card-title
    -#         -#   - if @priority_service_profile1 != nil
    -#         -#     = @priority_service_profile1.name
    -#         -# - if @priority_service_profile1 != nil
    -#           .small.text-muted
    -#         -#     = "投稿者：#{@priority_service_profile1.user.nickname}"
    -#         .small.text-muted{style: "margin-bottom: 12px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = "最終更新：#{time_ago_in_words(@priority_service_profile1.updated_at)}前"
    -#         %p.card-text{style: "height: 72px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = @priority_service_profile1.explanation.truncate(45)
    -#         %div{style: "position: absolute; left: 20px; bottom: 20px"}
    -#           -# = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile1.id), { class: "btn btn-primary mt-3" })
    -#         %div{style: "position: absolute; right: 32px; bottom: 28px"}
    -#           %p.text-muted
    -#             ★PR

    -if @priority_service_profile4 != nil
      .col-lg-4
        .card.mb-3
          -if @priority_service_profile4.image.present?
            = image_tag(@priority_service_profile4.image.url, class: "card-img-top")
          - else
            %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body{style: "height: 276px; position: relative;"}
            %h5.card-title
              - if @priority_service_profile4 != nil
                = @priority_service_profile4.name
            - if @priority_service_profile4 != nil
              .small.text-muted
                = "投稿者：#{@priority_service_profile4.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              - if @priority_service_profile4 != nil
                = "最終更新：#{time_ago_in_words(@priority_service_profile4.updated_at)}前"
            %p.card-text{style: "height: 72px"}
              - if @priority_service_profile4 != nil
                = @priority_service_profile4.explanation.truncate(45)
            %div{style: "position: absolute; left: 20px; bottom: 20px"}
              = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile4.id), { class: "btn btn-primary mt-3" })
            %div{style: "position: absolute; right: 32px; bottom: 28px"}
              %p.text-muted
                ★PR
    -# - else
    -#   .col-lg-4
    -#     .card.mb-3
    -#       %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
    -#       .card-body{style: "height: 276px; position: relative;"}
    -#         %h5.card-title
    -#         -#   - if @priority_service_profile1 != nil
    -#         -#     = @priority_service_profile1.name
    -#         -# - if @priority_service_profile1 != nil
    -#           .small.text-muted
    -#         -#     = "投稿者：#{@priority_service_profile1.user.nickname}"
    -#         .small.text-muted{style: "margin-bottom: 12px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = "最終更新：#{time_ago_in_words(@priority_service_profile1.updated_at)}前"
    -#         %p.card-text{style: "height: 72px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = @priority_service_profile1.explanation.truncate(45)
    -#         %div{style: "position: absolute; left: 20px; bottom: 20px"}
    -#           -# = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile1.id), { class: "btn btn-primary mt-3" })
    -#         %div{style: "position: absolute; right: 32px; bottom: 28px"}
    -#           %p.text-muted
    -#             ★PR

    -if @priority_service_profile5 != nil
      .col-lg-4
        .card.mb-3
          -if @priority_service_profile5.image.present?
            = image_tag(@priority_service_profile5.image.url, class: "card-img-top")
          - else
            %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body{style: "height: 276px; position: relative;"}
            %h5.card-title
              - if @priority_service_profile5 != nil
                = @priority_service_profile5.name
            - if @priority_service_profile5 != nil
              .small.text-muted
                = "投稿者：#{@priority_service_profile5.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              - if @priority_service_profile5 != nil
                = "最終更新：#{time_ago_in_words(@priority_service_profile5.updated_at)}前"
            %p.card-text{style: "height: 72px"}
              - if @priority_service_profile5 != nil
                = @priority_service_profile5.explanation.truncate(45)
            %div{style: "position: absolute; left: 20px; bottom: 20px"}
              = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile5.id), { class: "btn btn-primary mt-3" })
            %div{style: "position: absolute; right: 32px; bottom: 28px"}
              %p.text-muted
                ★PR
    -# - else
    -#   .col-lg-4
    -#     .card.mb-3
    -#       %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
    -#       .card-body{style: "height: 276px; position: relative;"}
    -#         %h5.card-title
    -#         -#   - if @priority_service_profile1 != nil
    -#         -#     = @priority_service_profile1.name
    -#         -# - if @priority_service_profile1 != nil
    -#           .small.text-muted
    -#         -#     = "投稿者：#{@priority_service_profile1.user.nickname}"
    -#         .small.text-muted{style: "margin-bottom: 12px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = "最終更新：#{time_ago_in_words(@priority_service_profile1.updated_at)}前"
    -#         %p.card-text{style: "height: 72px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = @priority_service_profile1.explanation.truncate(45)
    -#         %div{style: "position: absolute; left: 20px; bottom: 20px"}
    -#           -# = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile1.id), { class: "btn btn-primary mt-3" })
    -#         %div{style: "position: absolute; right: 32px; bottom: 28px"}
    -#           %p.text-muted
    -#             ★PR

    -if @priority_service_profile6 != nil
      .col-lg-4
        .card.mb-3
          -if @priority_service_profile6.image.present?
            = image_tag(@priority_service_profile6.image.url, class: "card-img-top")
          - else
            %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body{style: "height: 276px; position: relative;"}
            %h5.card-title
              - if @priority_service_profile6 != nil
                = @priority_service_profile6.name
            - if @priority_service_profile6 != nil
              .small.text-muted
                = "投稿者：#{@priority_service_profile6.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              - if @priority_service_profile6 != nil
                = "最終更新：#{time_ago_in_words(@priority_service_profile6.updated_at)}前"
            %p.card-text{style: "height: 72px"}
              - if @priority_service_profile6 != nil
                = @priority_service_profile6.explanation.truncate(45)
            %div{style: "position: absolute; left: 20px; bottom: 20px"}
              = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile6.id), { class: "btn btn-primary mt-3" })
            %div{style: "position: absolute; right: 32px; bottom: 28px"}
              %p.text-muted
                ★PR
    -# - else
    -#   .col-lg-4
    -#     .card.mb-3
    -#       %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
    -#       .card-body{style: "height: 276px; position: relative;"}
    -#         %h5.card-title
    -#         -#   - if @priority_service_profile1 != nil
    -#         -#     = @priority_service_profile1.name
    -#         -# - if @priority_service_profile1 != nil
    -#           .small.text-muted
    -#         -#     = "投稿者：#{@priority_service_profile1.user.nickname}"
    -#         .small.text-muted{style: "margin-bottom: 12px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = "最終更新：#{time_ago_in_words(@priority_service_profile1.updated_at)}前"
    -#         %p.card-text{style: "height: 72px"}
    -#           -# - if @priority_service_profile1 != nil
    -#           -#   = @priority_service_profile1.explanation.truncate(45)
    -#         %div{style: "position: absolute; left: 20px; bottom: 20px"}
    -#           -# = link_to("クリックして詳細へ", service_profile_path(@priority_service_profile1.id), { class: "btn btn-primary mt-3" })
    -#         %div{style: "position: absolute; right: 32px; bottom: 28px"}
    -#           %p.text-muted
    -#             ★PR

            -# ここまで佐久間さん指定の6枚


    - @service_profiles.each do |service_profile|
      .col-lg-4
        .card.mb-3
          - if service_profile.image.present?
            = image_tag(service_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
          - else
            %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body{style: "height: 276px; position: relative;"}
            %h5.card-title
              = service_profile.name
            .small.text-muted
              = "投稿者：#{service_profile.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              = "最終更新：#{time_ago_in_words(service_profile.updated_at)}前"
            %p.card-text{style: "height: 72px"}
              = service_profile.explanation.truncate(45)
            %div{style: "position: absolute; left: 20px; bottom: 20px"}
              = link_to("クリックして詳細へ", service_profile_path(service_profile.id), { class: "btn btn-primary mt-3" })
  %p
    = page_entries_info @service_profiles
  .paginate.mb-4
    = paginate @service_profiles