.all{style: "#{@profile.color}"}
  .d-flex.bd-highlight.bg-light.header
    .p-2.pl-5.flex-grow-1.bd-highlight.title 
      %img{:height => "auto", :src => "logo.png"}
    .p-3.bd-highlight.m-auto.top_page
      = link_to "TOP",root_path
    -# ログイン中のユーザーのプロフィールがない場合は登録画面へ、プロフィールのuser_idがログイン中のユーザーのidと一致する場合は編集画面へ
    - if current_user.profile.nil?
      .p-3.bd-highlight.m-auto.new_profile_page
        = link_to "プロフィール登録", new_profile_path
    - elsif current_user.profile.user_id == current_user.id
      .p-3.bd-highlight.m-auto.edit_profile_page
        = link_to "プロフィール編集", edit_profile_path(current_user.profile.id)
    .p-3.bd-highlight.m-auto.log_out
      = link_to "ログアウト",destroy_user_session_path, method: :delete
    - if current_user.id == @user.id 
      .p-3.bd-highlight.m-auto.log_out
        %a{"data-target" => "#exampleModalLong", "data-toggle" => "modal", :type => "button"} color
      #exampleModalLong.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLongTitle", role: "dialog", tabindex: "-1"}
        .modal-dialog{role: "document"}
          .modal-content
            .modal-header
              %h5#exampleModalLongTitle.modal-title Select Color 
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                %span{"aria-hidden" => "true"} ×
            = form_with(model: @profile, class: "modal-body") do |f|
              #app{":style" => "bindStyle"}
                %p
                  %span.text-white.mt-1.ml-1 赤：
                  %input{max: "255", min: "0", type: "range", "v-model" => "red"}/
                %p
                  %span.text-white.ml-1 緑：
                  %input{max: "255", min: "0", type: "range", "v-model" => "green"}/
                %p
                  %span.text-white.ml-1 青：
                  %input{max: "255", min: "0", type: "range", "v-model" => "blue"}/
                  = f.text_field :color, type: "hidden", "v-model" => "bindStyle"
                  
                .modal-footer
                  %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close
                  
                  = f.submit class: "btn btn-primary" 
    %span.nav_toggle
      %i
      %i
      %i
    %nav.nav
      %ul.nav_menu_ul.d-flex
        %li.nav_menu_li
          = link_to "TOP",root_path
        %li.nav_menu_li.ml-3.mr-2
          = link_to "ログアウト",destroy_user_session_path, method: :delete
    .mt-2.mobile_profile.shadow-sm
      .d-flex.justify-content-center.mt-2
        %button.btn.btn-primary.mobile_btn{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
          email
        - if @profile.facebook.present?
          = link_to "Facabook", @profile.facebook, class: 'btn btn-primary ml-2 mobile_btn', rel: "noopener noreferrer", target: "_blank"
        - if @profile.twitter.present?
          = link_to "Twitter", @profile.twitter, class: 'btn btn-primary ml-2 mobile_btn',  rel: "noopener noreferrer", target: "_blank"
        - if @profile.hp.present?
          = link_to "HP", @profile.hp, class: 'btn btn-primary ml-2 mobile_btn',  rel: "noopener noreferrer", target: "_blank"
          
      #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5#exampleModalLabel.modal-title e-mail address
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"}
            .modal-body
              = @user.email
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
      %h3.d-flex.justify-content-center.mt-3.mobile_name
        = @user.nickname
      %h5.d-flex.justify-content-center.mt-3.mobile_birth
        = @profile.birth_date
      %img.prof_image.mt-2.mobile_img{:height => "auto", :src => "#{@profile.sub_image}", :width => "40%"}
        %p.text-break.ml-5.mr-5.pt-5.mobile_text 
          = @profile.introduction
  .image_box.mt-5.d-flex.justify-content-center
    %img.top_image{:height => "auto", :src => "#{@profile.image}", :width => "80%"}
    
  .d-flex.justify-content-center
    .mt-5.text_area.shadow-sm
      %p.text-break.ml-5.mr-5.pt-5 mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm


    .mt-5.mb-5.profile.shadow-sm
      .d-flex.justify-content-center.mt-2
        %button.btn.btn-primary{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
          email
        - if @profile.facebook.present?
          = link_to "Facabook", @profile.facebook, class: 'btn btn-primary ml-2',  rel: "noopener noreferrer", target: "_blank"
        - if @profile.twitter.present?
          = link_to "Twitter", @profile.twitter, class: 'btn btn-primary ml-2',  rel: "noopener noreferrer", target: "_blank"
        - if @profile.hp.present?
          = link_to "HP", @profile.hp, class: 'btn btn-primary ml-2 ',  rel: "noopener noreferrer", target: "_blank"
          
      
      %h3.d-flex.justify-content-center.mt-3
        = @user.nickname
      %h5.d-flex.justify-content-center.mt-3
        = @profile.birth_date
      %img.prof_image.mt-3{:height => "auto", :src => "#{@profile.sub_image}", :width => "40%"}
        %p.text-break.ml-5.mr-5.pt-5 
          = @profile.introduction
  .d-flex.justify-content-center.comment_field.shadow
  %form.was-validated
    .form-group
      %label{:for => "exampleFormControlTextarea1"}
      = succeed "" do
        %textarea#exampleFormControlTextarea1.form-control.form-control-lg.col-sm-10.m-auto{:placeholder => "コメント"}
  .col-auto.d-flex.justify-content-center
    %button.btn.btn-primary.mb-2{:type => "submit"} Submit
  .container