.users-index
  .all{style: "#{@profile.color}"}
    .d-flex.bg-dark.header.navbar.navbar-expand-sm
      = link_to root_path, class: "navbar-brand site-logo" do
        = image_tag 'mystory.png', :size =>'200x43', class: "site-logoPNG"
      
      .p-3.bd-highlight.mr-auto.header_service_list
        = link_to profiles_path, class: "head_link mr-2" do
          人物
        = link_to store_profiles_path, class: "head_link mr-2" do
          店舗
        = link_to item_profiles_path, class: "head_link mr-2" do
          商品
        = link_to service_profiles_path, class: "head_link mr-2" do
          サービス
        = link_to event_profiles_path, class: "head_link mr-2" do
          イベント
      .notice
        - if user_signed_in?
          - if current_user.id == @user.id && @check.present? 
            = link_to user_comment_path(current_user.id,@user.id) do
              %img.message{:height => "auto", :src => "info.png"}
              .notice_count
                = @check.length
      
      
      -# 検索画面へのリンク
      .p-3.etc
        = link_to search_users_path, class: "head_link pr-3" do
          検索
        = link_to intro_home_index_path, class: "head_link pr-3" do
          使い方
        = link_to intro_home_index_path, class: "head_link " do
          コース
      - if user_signed_in?
        - if current_user.id == @user.id 
          .pr-3.color
            %a{"data-target" => "#exampleModalLong", "data-toggle" => "modal", :type => "button", :class => "head_link"} color
          #exampleModalLong.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLongTitle", role: "dialog", tabindex: "-1"}
            .modal-dialog{role: "document"}
              .modal-content
                .modal-header
                  %h5#exampleModalLongTitle.modal-title Select Color 
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                    %span{"aria-hidden" => "true"} ×
                = form_with model: @profile, url: profile_color_path(profile_id: current_user.id), class: "modal-body", local: true do |f|
                  #app{":style" => "bindStyle"}
                    %p
                      %span.text-primary.mt-1.ml-1 赤：
                      %input{max: "255", min: "0", type: "range", "v-model" => "red"}/
                    %p
                      %span.text-danger.ml-1 緑：
                      %input{max: "255", min: "0", type: "range", "v-model" => "green"}/
                    %p
                      %span.text-success.ml-1 青：
                      %input{max: "255", min: "0", type: "range", "v-model" => "blue"}/
                      = f.text_field :color, type: "hidden", "v-model" => "bindStyle"
                      
                    .modal-footer
                      %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close
                      
                      = f.submit class: "btn btn-primary"
      - url = request.url
      .pr-3.qr_code
        = link_to "#qr_img", class:"modaal qr_code head_link" do
          QRコード
        .modal-hidden(id = "qr_img")
          = image_tag qrcode_tag "#{url}"
      -# #navbarSupportedContent.collapse.navbar-collapse
      - unless user_signed_in?
        %ul.navbar-nav
          %li.nav-item.dropdown.pr-3
            = link_to new_user_registration_path, class: "head_link " do
              アカウント登録
  
          %li.nav-item.dropdown
            = link_to new_user_session_path, class: "head_link " do
              ログイン
      - else
        %ul.navbar-nav
          %li.nav-item.dropdown
            %a#navbarDropdown.head_link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              - if current_user.profile.present? && current_user.profile.avatar.present?
                = image_tag(current_user.profile.avatar.url, alt: "", class: "rounded-circle minisize-icon")

              = current_user.nickname
            .dropdown-menu.dropdown-menu-right.navbar-dark.bg-dark{"aria-labelledby" => "navbarDropdown"}
              .dropdown-item.bg-dark.pt-3
                - if current_user.profile.nil?
                  = link_to new_profile_path, class: "head_link " do
                    プロフィール登録
                - elsif current_user.profile.user_id == current_user.id
                  = link_to  edit_profile_path(current_user.profile.id), class: "head_link " do
                    プロフィール編集
              -# カード情報登録の有無で表示非表示
              - if current_user.card
                .dropdown-item.bg-dark.pt-3
                  = link_to new_store_profile_path, class: "head_link " do
                    店舗情報 投稿
                .dropdown-item.bg-dark.pt-3
                  = link_to new_item_profile_path, class: "head_link " do
                    商品情報 投稿
                .dropdown-item.bg-dark.pt-3
                  = link_to new_service_profile_path, class: "head_link " do
                    サービス情報 投稿
                .dropdown-item.bg-dark.pt-3
                  = link_to new_event_profile_path, class: "head_link " do
                    イベント情報 投稿
              .dropdown-divider
              - if current_user.profile != nil
                .dropdown-item.bg-dark.pt-3
                  = link_to users_path(id: current_user.id), class: "head_link" do
                    マイページ
              - if user_signed_in?
                - if @card.blank?
                  .dropdown-item.bg-darkml-1.pt-3.payjp
                    = link_to cards_path, class: "head_link"do
                      会員登録
                - else
                  .dropdown-item.bg-dark.ml-1.pt-3.payjp
                    = link_to cards_path, class: "head_link"do
                      退会
              .dropdown-item.bg-dark.pt-3
                = link_to destroy_user_session_path, method: :delete, class: "head_link" do
                  ログアウト

        
      %span.nav_toggle
        %i
        %i
        %i
      %nav.nav.bg-dark.pt-2
        %ul.nav_menu_ul.d-flex
          %li.nav_menu_li
            .mobile_notice
              - if user_signed_in?
                - if current_user.id == @user.id && @check.present?
                  = link_to user_comment_path(current_user.id,@user.id) do
                    %img.mobile_message{:height => "auto", :src => "info.png"}
                    .mobile_notice_count
                      = @check.length
          %li.nav_menu_li.mt-1.pl-2
            = link_to profiles_path, class: "head_link pr-3" do
              人物
            = link_to store_profiles_path, class: "head_link pr-3" do
              店舗
            = link_to item_profiles_path, class: "head_link pr-3" do
              商品
            = link_to service_profiles_path, class: "head_link pr-3" do
              サービス
            = link_to event_profiles_path, class: "head_link pr-3" do
              イベント
          -# ログイン中のユーザーのプロフィールがない場合は登録画面へ、プロフィールのuser_idがログイン中のユーザーのidと一致する場合は編集画面へ
          - if user_signed_in?
            - if current_user.profile.nil?
              %li.nav_menu_li.mt-1.pr-3
                = link_to "プロフィール登録", new_profile_path, class: "head_link mr-2"
            - elsif current_user.profile.user_id == current_user.id
              %li.nav_menu_li.mt-1.pr-3
                = link_to "プロフィール編集", edit_profile_path(current_user.profile.id), class: "head_link mr-2"
          -# 検索画面へのリンク
          %li.nav_menu_li.mt-1
            = link_to "検索",search_users_path, class: "head_link pr-3"
          
          %li.nav_menu_li.mt-1.pr-3.mobile_color
            - if user_signed_in?
              - if current_user.id == @user.id 
                %a{"data-target" => "#exampleModalLong", "data-toggle" => "modal", :type => "button", :class => "head_link"} color

          %li.nav_menu_li.mt-1
            = link_to intro_home_index_path, class: "head_link pr-3" do
              使い方
            = link_to intro_home_index_path, class: "head_link pr-3" do
              コース
          - url = request.url
          %li.nav_menu_li.mt-1.mobile_qr
            = link_to "#qr_img", class:"modaal head_link pr-3" do
              QRコード
          - if user_signed_in?
            - if @card.blank?
              %li.nav_menu_li.mt-1.mobile_payjp
                = link_to cards_path, class: "head_link pr-3" do
                  会員登録
            - else
              %li.nav_menu_li.mt-1.mobile_payjp
                = link_to cards_path, class: "head_link pr-3"do
                  退会
          - if user_signed_in?
            %li.nav_menu_li.mt-1
              = link_to "ログアウト",destroy_user_session_path, class: "head_link pr-3", method: :delete
          - else
            %li.nav_menu_li.mt-1
              = link_to new_user_registration_path, class: "head_link pr-3" do
                アカウント登録
            %li.nav_menu_li.mt-1
              = link_to new_user_session_path, class: "head_link pr-3" do
                ログイン
      .mt-2.mobile_profile.shadow-sm
        .d-flex.justify-content-center.mt-2
          -# - if @profile.email.present?   # email表示したくない場合を想定して、表示したい場合はprofileに連絡用email入力にした方がいいかも？
          %button.btn.btn-primary.mobile_btn{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
            email
          - if @profile.facebook.present?
            = link_to "Facabook", @profile.facebook, class: 'btn btn-primary ml-2 mobile_btn', rel: "noopener noreferrer", target: "_blank"
          - if @profile.twitter.present?
            = link_to "Twitter", @profile.twitter, class: 'btn btn-primary ml-2 mobile_btn',  rel: "noopener noreferrer", target: "_blank"
          - if @profile.hp.present?
            = link_to "HP", @profile.hp, class: 'btn btn-primary ml-2 mobile_btn',  rel: "noopener noreferrer", target: "_blank"
            
        #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-header
                %h5#exampleModalLabel.modal-title e-mail address
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"}
              .modal-body
                = @user.email
              .modal-footer
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        = link_to profile_pass_path(params[:id], pv_link: "pv++") do
          %h3.d-flex.justify-content-center.mt-3.mobile_name
            = @profile.family_name
          %h3.d-flex.justify-content-center.mt-3.mobile_name
            = @profile.first_name
          %h5.d-flex.justify-content-center.mt-3.mobile_birth
            = @profile.prefecture.name
          %img.prof_image.mt-2.mobile_img{:height => "auto", :src => "#{@profile.avatar}", :width => "40%"}
            %p.text-break.ml-5.mr-5.mb-3.pt-5.mobile_text 
              = @profile.avatar_about
            
    .slider.mt-5.d-flex.justify-content-center
      #mainSlide
        %img.top_image{:src => "#{@profile.image}"}
        - if @profile.sub_image.present?
          = link_to vr_users_path(user_id: params[:id]) do
            %img.top_image{:src => "#{@profile.sub_image}"}
    #arrows
    .mt-5.mb-5.profile
      .d-flex.justify-content-center
        %button.btn.btn-primary.mt-1{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
          email
        - if @profile.facebook.present?
          = link_to "Facabook", @profile.facebook, class: 'btn btn-primary ml-2 mt-1',  rel: "noopener noreferrer", target: "_blank"
        - if @profile.twitter.present?
          = link_to "Twitter", @profile.twitter, class: 'btn btn-primary ml-2 mt-1',  rel: "noopener noreferrer", target: "_blank"
        - if @profile.hp.present?
          = link_to "HP", @profile.hp, class: 'btn btn-primary ml-2 mt-1',  rel: "noopener noreferrer", target: "_blank"
          
      = link_to profile_pass_path(params[:id], pv_link: "pv++"), style:"text-decoration:none" do
        .prof_all.d-flex
          %img.prof_image.mt-3.ml-2.mb-2{:src => "#{@profile.avatar}"}
          .prof_contents
            .prof.d-flex
              %h3.mt-3.ml-3
                = @profile.family_name
              %h3.mt-3.ml-1
                = @profile.first_name
              %h5.mt-3.ml-3
                = @profile.prefecture.name
              %h5.mt-3.ml-3
                = @profile.birth_date
            .introduction
              %p.ml-5.mr-5.pt-3 
                = safe_join(@profile.avatar_about.split("\n"),tag(:br))
                -# = @profile.avatar_about

    .mt-5.text_area
      %p.text-break.ml-5.mr-5.pt-3.pb-3
        = safe_join(@profile.introduction.split("\n"),tag(:br)) 
        -# = @profile.introduction
    
    .comment_field
      .pt-2.pl-2.pb-2
        コメント
        - if @comments.blank?
          %br
          まだコメントはありません。
      - @comments.each do |comment|
        - if comment.check == (1) && comment.reply_id.blank?
          .comment_info
            - user = User.find(comment.commenter_id)
            .comment_name
              = user.nickname
            .comment_date
              = comment.created_at.strftime("%Y-%m-%d %H:%M")
          .comment_content
            = comment.comment
          - if user_signed_in?
            %button.btn.btn-outline-dark.reply_btn{"data-toggle" => "modal", "data-target" => "#exampleModalMessage#{comment.id}", type: "button"} 返信
            .modal.fade{id: "exampleModalMessage#{comment.id}", "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
              .modal-dialog{role: "document"}
                .modal-content
                  .modal-header
                    %h5#exampleModalLabel.modal-title New message
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                      %span{"aria-hidden" => "true"} ×
                  .modal-body
                    = form_with model: @comment,url: user_comment_reply_path(user_id: (params[:id]),comment_id: comment.id), class: "form-group",local: true do |f|
                      .form-group
                        %label.col-form-label{for: "message-text"} 返信:
                        = f.text_area :comment, id: "message-text", class: "form-control"
                      .modal-footer
                        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close
                        = f.submit "Send", class: "btn btn-primary"
              
        - @reply_array2.first(1).each do |re|
          - @re_array2.each do |re2|
            - if re2.reply_id == comment.id && re2.check == (1)
              .comment_reply_info
                - user = User.find(re2.commenter_id)
                .comment_reply_name
                  = user.nickname
                .comment_reply_date
                  = re2.created_at.strftime("%Y-%m-%d %H:%M")
              .comment_reply_content
                = re2.comment
    - if user_signed_in?
      = render "comments/form"
      
    = render "photogallery"
    