.jumbotron.jumbotron-fluid.p-4
  .container
    -# トップへ戻るボタン
    .col.text-right
      = link_to root_path  do
        TOP
      
    -# ニックネーム、キャッチコピー、紹介文が表示されるようにしています
    %h1.display-4
      ユーザー検索画面
    -# %p.lead
    -#   #{@profile.catch_copy}
    -# -# つけたタグが表示されます。配列で取得したタグをspanでひとつずつ分けて表示。
    -# %div
    -#   - @tags.each do |tag|
    -#     %span.show_tag
    -#       = tag
    

    %hr.my-4
    -# %p
      -# 検索結果が下に表示されます
    = search_form_for(@user_search, url: search_users_path, html: {method: :post}) do |f|
      .form-group
        -# 並び替え
        = f.select( :sorts, { '並び替え': 'id desc', 'ニックネーム順': 'nickname asc', 'ニックネーム逆順': 'nickname desc', '更新の古い順': 'updated_at asc', '更新の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()', class: 'form-control'} ) 
      .form-group
        = f.label :nickname_or_profile_first_name_or_profile_family_name_or_profile_first_name_kana_or_profile_family_name_kana, "ニックネーム・名字・名前で検索"
        = f.text_field :nickname_or_profile_first_name_or_profile_family_name_or_profile_first_name_kana_or_profile_family_name_kana_cont, class: "form-control"
      .form-group
        = f.label :profile_primary_school_or_profile_Junior_high_school_or_profile_high_school_or_profile_vocational_school_or_profile_university_or_profile_graduate_school_or_profile_other_school, "学校で検索"
        = f.text_field :profile_primary_school_or_profile_Junior_high_school_or_profile_high_school_or_profile_vocational_school_or_profile_university_or_profile_graduate_school_or_profile_other_school_cont, class: "form-control"
      .form-group
        = f.label :profile_first_career_or_profile_second_career_or_profile_third_career_or_profile_fourth_career_or_profile_last_career, "仕事で検索"
        = f.text_field :profile_first_career_or_profile_second_career_or_profile_third_career_or_profile_fourth_career_or_profile_last_career_cont, class: "form-control"
      .form-group
        = f.label :profile_tags_id_eq_any, "タグで検索（複数チェック可）"
        %br/
        -# = f.text_field :profile_tags_tag_name_cont, class: "form-control"
        -# タグ検索
        - Tag.all.each do |tag|
          -# 使われていないタグを表示しないよう、profile_idが存在するかどうかでif分岐
          - if tag.profile_ids.present?
            = f.check_box :profile_tags_id_eq_any, {multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false}, tag[:id]
            %span.show_tag{style: "vertical-align: text-top"}
              = tag.tag_name 
      .form-group.mt-4.mb-4
        = f.submit "検索", class: "btn btn-primary"
.container
  .row
    - @users.each do |user|
      -# プロフィールが存在するユーザーのみ検索対象になります
      - if user.profile.present?
        %div.col-4.col-sm-2
          = image_tag user.profile.avatar.url, size: '100x100', style: 'object-fit: cover', class: 'avatar'
        %div.col-8.col-sm-10{style: "cursor:pointer;"}
          -# 勝手にpv_linkを追加しました
          = link_to profile_pass_path(profile_id: user.id, pv_link: "pv++"), style:"text-decoration:none" do
            %div.ml-2.h4
              = user.nickname
            %div.ml-2
              = user.profile.catch_copy
        %div.col-xs-12.col-sm-12.mt-2
          - user.profile.tags.pluck(:tag_name).each do |tag|
            %span.show_tag
              = tag
        %hr.my-4{style: "width:97%; height:1px; background-color:#fefefe;"}/
  %p
    = page_entries_info @users
  .paginate.mb-4
    = paginate @users