.jumbotron.jumbotron-fluid.p-4
  .container
    -# トップへ戻るボタン
    .col.text-right
      = link_to root_path  do
        TOP
      
    -# ニックネーム、キャッチコピー、紹介文が表示されるようにしています
    %h1.display-4
      #{@user.nickname}
    %p.lead
      #{@profile.catch_copy}
    -# つけたタグが表示されます。配列で取得したタグをspanでひとつずつ分けて表示。
    %div
      - @tags.each do |tag|
        %span.show_tag
          = tag
    

    %hr.my-4
    %p
      = safe_join(@profile.introduction.split("\n"),tag(:br))
      -# #{@profile.introduction}
.container
  -# タブ切り替え（プロフ、学歴、職歴）にしています
  %ul.nav.nav-tabs.nav-justified{role: "tablist", style: "width: auto"}
    %li.nav-item
      %a#item1-tab.nav-link.active{"aria-controls" => "item1", "aria-selected" => "true", "data-toggle" => "tab", href: "#item1", role: "tab"} プロフィール
    %li.nav-item
      %a#item2-tab.nav-link{"aria-controls" => "item2", "aria-selected" => "false", "data-toggle" => "tab", href: "#item2", role: "tab"} 学歴
    %li.nav-item
      %a#item3-tab.nav-link{"aria-controls" => "item3", "aria-selected" => "false", "data-toggle" => "tab", href: "#item3", role: "tab"} 職歴
  .tab-content
    #item1.tab-pane.fade.show.active{"aria-labelledby" => "item1-tab", role: "tabpanel"}
      %p.text-center.mt-4.mb-0.small.text-muted
        #{@profile.first_name_kana} #{@profile.family_name_kana}
      %p.h4.text-center.mb-4
        #{@profile.first_name} #{@profile.family_name}
      %p.text-center.m-4
        〒#{@profile.post_code.to_s.insert(3, "-")}
      %p.h5.text-center.m-4
        #{@profile.prefecture.name}#{@profile.city}#{@profile.address_number}
      %p.h5.text-center.m-4
        #{@profile.building}
      %p.h5.text-center.m-4
        #{@profile.phone}
    #item2.tab-pane.fade{"aria-labelledby" => "item2-tab", role: "tabpanel"}
      %p.h5.text-center.m-4
        #{@profile.primary_school}
      %p.h5.text-center.m-4
        #{@profile.Junior_high_school}
      %p.h5.text-center.m-4
        #{@profile.high_school}
      %p.h5.text-center.m-4
        #{@profile.university}
      %p.h5.text-center.m-4
        #{@profile.graduate_school}
      %p.h5.text-center.m-4
        #{@profile.vocational_school}
      %p.h5.text-center.m-4
        #{@profile.other_school}
    #item3.tab-pane.fade{"aria-labelledby" => "item3-tab", role: "tabpanel"}
      %p.h5.text-center.m-4
        #{@profile.first_career}
      %p.h5.text-center.m-4
        #{@profile.second_career}
      %p.h5.text-center.m-4
        #{@profile.third_career}
      %p.h5.text-center.m-4
        #{@profile.fourth_career}
      %p.h5.text-center.m-4
        #{@profile.last_career}
  %hr.my-4
  - if @store_profiles.present?
    %p.h5.text-center.m-4
      店舗情報一覧
    .row
      - @store_profiles.each do |store_profile|
        .col-lg-4
          .card.mb-3
            - if store_profile.image.present?
              = image_tag(store_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
            - else
              %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
            .card-body{style: "height: 276px; position: relative;"}
              %h5.card-title
                = store_profile.name
              .small.text-muted
                = "投稿者：#{store_profile.user.nickname}"
              .small.text-muted{style: "margin-bottom: 12px"}
                = "最終更新：#{time_ago_in_words(store_profile.updated_at)}前"
              %p.card-text{style: "height: 72px"}
                = store_profile.explanation.truncate(45)
              %div{style: "position: absolute; left: 20px; bottom: 20px"}
                = link_to("クリックして詳細へ", store_profile_path(store_profile.id), { class: "btn btn-primary mt-3" })
    -# %div
    -#   = paginate @store_profiles, theme: 'twitter-bootstrap-4'
  - if @item_profiles.present?
    %p.h5.text-center.m-4
      商品情報一覧
    .row
      - @item_profiles.each do |item_profile|
        .col-lg-4
          .card.mb-3
            - if item_profile.image.present?
              = image_tag(item_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
            - else
              %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
            .card-body{style: "height: 276px; position: relative;"}
              %h5.card-title
                = item_profile.name
              .small.text-muted
                = "投稿者：#{item_profile.user.nickname}"
              .small.text-muted{style: "margin-bottom: 12px"}
                = "最終更新：#{time_ago_in_words(item_profile.updated_at)}前"
              %p.card-text{style: "height: 72px"}
                = item_profile.explanation.truncate(45)
              %div{style: "position: absolute; left: 20px; bottom: 20px"}
                = link_to("クリックして詳細へ", item_profile_path(item_profile.id), { class: "btn btn-primary mt-3" })
    -# %div
    -#   = paginate @item_profiles, theme: 'twitter-bootstrap-4'
  - if @service_profiles.present?
    %p.h5.text-center.m-4
      サービス情報一覧
    .row
      - @service_profiles.each do |service_profile|
        .col-lg-4
          .card.mb-3
            - if service_profile.image.present?
              = image_tag(service_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
            - else
              %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
            .card-body{style: "height: 276px; position: relative;"}
              %h5.card-title
                = service_profile.name
              .small.text-muted
                = "投稿者：#{service_profile.user.nickname}"
              .small.text-muted{style: "margin-bottom: 12px"}
                = "最終更新：#{time_ago_in_words(service_profile.updated_at)}前"
              %p.card-text{style: "height: 72px"}
                = service_profile.explanation.truncate(45)
              %div{style: "position: absolute; left: 20px; bottom: 20px"}
                = link_to("クリックして詳細へ", service_profile_path(service_profile.id), { class: "btn btn-primary mt-3" })
    -# %div
    -#   = paginate @service_profiles, theme: 'twitter-bootstrap-4'
  - if @event_profiles.present?
    %p.h5.text-center.m-4
      イベント情報一覧
    .row
      - @event_profiles.each do |event_profile|
        .col-lg-4
          .card.mb-3
            - if event_profile.image.present?
              = image_tag(event_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
            - else
              %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
            .card-body{style: "height: 295px; position: relative;"}
              %h5.card-title
                = event_profile.title
              .small.text-muted
                = "投稿者：#{event_profile.user.nickname}"
              .small.text-muted{style: "margin-bottom: 12px"}
                = "最終更新：#{time_ago_in_words(event_profile.updated_at)}前"
              %p.card-text{style: "height: 72px; margin-bottom: 0.75rem;"}
                = event_profile.explanation.truncate(45)
              - if event_profile.start.present?
                %p.card-text{style: "margin-bottom: 0.75rem;"}
                  %small.text-muted
                    開始予定 :
                  %small.text-muted
                    = event_profile.start.strftime("%Y-%m-%d %H:%M")
              %div{style: "position: absolute; left: 20px; bottom: 20px"}
                = link_to("クリックして詳細へ", event_profile_path(event_profile.id), { class: "btn btn-primary mt-3" })
    -# %div
    -#   = paginate @event_profiles, theme: 'twitter-bootstrap-4'