.jumbotron.jumbotron-fluid.p-4
  .container
    -# トップへ戻るボタン
    -# .col.text-right
    -#   = link_to root_path  do
    -#     TOP
    -# .alert.alert-secondary.mt-4
    %h1.display-4.mb-4
      商品
      -# %span.h5
      -#   さん
    %p
      おすすめの商品紹介
    %p
      This is an introduction of recommended items.

    -# = link_to("プロフィール", users_path(id: current_user.id), { class: "btn btn-info mt-3" })
    = link_to("人物", profiles_path, { class: "btn btn-info mt-3" })
    = link_to("店舗", store_profiles_path, { class: "btn btn-info mt-3" })
    -# = link_to("商品", item_profiles_path, { class: "btn btn-info mt-3" })
    = link_to("サービス", service_profiles_path, { class: "btn btn-info mt-3" })
    = link_to("イベント", event_profiles_path, { class: "btn btn-info mt-3" })

.container
  .row

    -# ここから佐久間さん指定の6枚
    .col-lg-4
      .card.mb-3
        -# - if item_profile.image.present?
        -#   = image_tag(item_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
        -# - else
        %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
        .card-body{style: "height: 276px; position: relative;"}
          %h5.card-title
            -# = item_profile.name
            カードタイトル１
          .small.text-muted
            -# = "投稿者：#{item_profile.user.nickname}"
            投稿者の名前
          .small.text-muted{style: "margin-bottom: 12px"}
            -# = "最終更新：#{time_ago_in_words(item_profile.updated_at)}前"
            最終更新日時
          %p.card-text{style: "height: 72px"}
            -# = item_profile.explanation.truncate(45)
            カードの説明文です
          %div{style: "position: absolute; left: 20px; bottom: 20px"}
            .btn.btn-primary.mt-3
              クリックして詳細へ
          %div{style: "position: absolute; right: 32px; bottom: 28px"}
            %p.text-muted
              ★PR
            -# = link_to("クリックして詳細へ", item_profile_path(item_profile.id), { class: "btn btn-primary mt-3" })
    .col-lg-4
      .card.mb-3
        -# - if item_profile.image.present?
        -#   = image_tag(item_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
        -# - else
        %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
        .card-body{style: "height: 276px; position: relative;"}
          %h5.card-title
            -# = item_profile.name
            カードタイトル２
          .small.text-muted
            -# = "投稿者：#{item_profile.user.nickname}"
            投稿者の名前
          .small.text-muted{style: "margin-bottom: 12px"}
            -# = "最終更新：#{time_ago_in_words(item_profile.updated_at)}前"
            最終更新日時
          %p.card-text{style: "height: 72px"}
            -# = item_profile.explanation.truncate(45)
            カードの説明文です
          %div{style: "position: absolute; left: 20px; bottom: 20px"}
            .btn.btn-primary.mt-3
              クリックして詳細へ
          %div{style: "position: absolute; right: 32px; bottom: 28px"}
            %p.text-muted
              ★PR
            -# = link_to("クリックして詳細へ", item_profile_path(item_profile.id), { class: "btn btn-primary mt-3" })
    .col-lg-4
      .card.mb-3
        -# - if item_profile.image.present?
        -#   = image_tag(item_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
        -# - else
        %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
        .card-body{style: "height: 276px; position: relative;"}
          %h5.card-title
            -# = item_profile.name
            カードタイトル３
          .small.text-muted
            -# = "投稿者：#{item_profile.user.nickname}"
            投稿者の名前
          .small.text-muted{style: "margin-bottom: 12px"}
            -# = "最終更新：#{time_ago_in_words(item_profile.updated_at)}前"
            最終更新日時
          %p.card-text{style: "height: 72px"}
            -# = item_profile.explanation.truncate(45)
            カードの説明文です
          %div{style: "position: absolute; left: 20px; bottom: 20px"}
            .btn.btn-primary.mt-3
              クリックして詳細へ
          %div{style: "position: absolute; right: 32px; bottom: 28px"}
            %p.text-muted
              ★PR
            -# = link_to("クリックして詳細へ", item_profile_path(item_profile.id), { class: "btn btn-primary mt-3" })
    .col-lg-4
      .card.mb-3
        -# - if item_profile.image.present?
        -#   = image_tag(item_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
        -# - else
        %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
        .card-body{style: "height: 276px; position: relative;"}
          %h5.card-title
            -# = item_profile.name
            カードタイトル４
          .small.text-muted
            -# = "投稿者：#{item_profile.user.nickname}"
            投稿者の名前
          .small.text-muted{style: "margin-bottom: 12px"}
            -# = "最終更新：#{time_ago_in_words(item_profile.updated_at)}前"
            最終更新日時
          %p.card-text{style: "height: 72px"}
            -# = item_profile.explanation.truncate(45)
            カードの説明文です
          %div{style: "position: absolute; left: 20px; bottom: 20px"}
            .btn.btn-primary.mt-3
              クリックして詳細へ
          %div{style: "position: absolute; right: 32px; bottom: 28px"}
            %p.text-muted
              ★PR
            -# = link_to("クリックして詳細へ", item_profile_path(item_profile.id), { class: "btn btn-primary mt-3" })
    .col-lg-4
      .card.mb-3
        -# - if item_profile.image.present?
        -#   = image_tag(item_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
        -# - else
        %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
        .card-body{style: "height: 276px; position: relative;"}
          %h5.card-title
            -# = item_profile.name
            カードタイトル５
          .small.text-muted
            -# = "投稿者：#{item_profile.user.nickname}"
            投稿者の名前
          .small.text-muted{style: "margin-bottom: 12px"}
            -# = "最終更新：#{time_ago_in_words(item_profile.updated_at)}前"
            最終更新日時
          %p.card-text{style: "height: 72px"}
            -# = item_profile.explanation.truncate(45)
            カードの説明文です
          %div{style: "position: absolute; left: 20px; bottom: 20px"}
            .btn.btn-primary.mt-3
              クリックして詳細へ
          %div{style: "position: absolute; right: 32px; bottom: 28px"}
            %p.text-muted
              ★PR
            -# = link_to("クリックして詳細へ", item_profile_path(item_profile.id), { class: "btn btn-primary mt-3" })
    .col-lg-4
      .card.mb-3
        -# - if item_profile.image.present?
        -#   = image_tag(item_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
        -# - else
        %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
        .card-body{style: "height: 276px; position: relative;"}
          %h5.card-title
            -# = item_profile.name
            カードタイトル６
          .small.text-muted
            -# = "投稿者：#{item_profile.user.nickname}"
            投稿者の名前
          .small.text-muted{style: "margin-bottom: 12px"}
            -# = "最終更新：#{time_ago_in_words(item_profile.updated_at)}前"
            最終更新日時
          %p.card-text{style: "height: 72px"}
            -# = item_profile.explanation.truncate(45)
            カードの説明文です
          %div{style: "position: absolute; left: 20px; bottom: 20px"}
            .btn.btn-primary.mt-3
              クリックして詳細へ
          %div{style: "position: absolute; right: 32px; bottom: 28px"}
            %p.text-muted
              ★PR
            -# = link_to("クリックして詳細へ", item_profile_path(item_profile.id), { class: "btn btn-primary mt-3" })
            -# ここまで佐久間さん指定の6枚



    - @item_profiles.each do |item_profile|
      .col-lg-4
        .card.mb-3
          - if item_profile.image.present?
            = image_tag(item_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
          - else
            %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body{style: "height: 276px; position: relative;"}
            %h5.card-title
              = item_profile.name
            .small.text-muted
              = "投稿者：#{item_profile.user.nickname}"
            .small.text-muted{style: "margin-bottom: 12px"}
              = "最終更新：#{time_ago_in_words(item_profile.updated_at)}前"
            %p.card-text{style: "height: 72px"}
              = item_profile.explanation.truncate(45)
            %div{style: "position: absolute; left: 20px; bottom: 20px"}
              = link_to("クリックして詳細へ", item_profile_path(item_profile.id), { class: "btn btn-primary mt-3" })
  %p
    = page_entries_info @item_profiles
  .paginate.mb-4
    = paginate @item_profiles