.jumbotron.jumbotron-fluid.p-4
  .container
    -# トップへ戻るボタン
    .col.text-right
      = link_to root_path  do
        TOP
    -# .alert.alert-secondary.mt-4
    %h1.display-4
      #{current_user.nickname}
      %span.h5
        さん
    %p
      おすすめの商品紹介
    %p
      This is an introduction of recommended items.

.container
  .row
    - @item_profiles.each do |item_profile|
      .col-lg-4
        .card.mb-3
          - if item_profile.image.present?
            = image_tag(item_profile.image.url, alt: "メイン写真", class: "card-img-top no_image")
          - else
            %img.card-img-top{alt: "...", src: "/assets/no_image.png"}/
          .card-body{style: "height: 245px; position: relative;"}
            %h5.card-title
              = item_profile.name
            %p.card-text{style: "height: 72px"}
              = item_profile.explanation.truncate(45)
            %div{style: "position: absolute; left: 20px; bottom: 20px"}
              = link_to("クリックして詳細へ", item_profile_path(item_profile.id), { class: "btn btn-primary mt-3" })
