= render 'layouts/header'
.credit-update
  .container
    .col.text-right.p-4
      = link_to "TOP",root_path
    .credit-update__label
      %label 登録クレジットカード情報
      %br
      = "**** **** **** " + @credit_card.last4
      %br
      - exp_month = @credit_card.exp_month.to_s
      - exp_year = @credit_card.exp_year.to_s.slice(2,3)
      = exp_month + " / " + exp_year
      = form_tag(card_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm") do
        %input{ type: "hidden", name: "card_id", value: "" }
        %button 退会する
    .text-center.pb-3
      ※ 有料会員を退会します