%header.header.sticky-top
  %nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    = link_to root_path, class: "navbar-brand site-logo" do
      = image_tag 'logo.png', class: "site-logoPNG"

    %button.navbar-toggler{ "aria-controls" => "navbarSupportedContent", 
                            "aria-expanded" => "false", "aria-label" => "Toggle navigation", 
                            "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", 
                            :type => "button" }
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to profiles_path, class: "nav-link " do
            人物
        %li.nav-item
          = link_to store_profiles_path, class: "nav-link " do
            店舗

        %li.nav-item
          = link_to item_profiles_path, class: "nav-link " do
            商品

        %li.nav-item
          = link_to service_profiles_path, class: "nav-link " do
            サービス

        %li.nav-item
          = link_to event_profiles_path, class: "nav-link " do
            イベント

        %li.nav-item
          = link_to search_users_path, class: "nav-link " do
            検索

        -# 管理画面を一時的に表示
        %li.nav-item
          = link_to priority_store_profiles_path, class: "nav-link " do
            管理画面

        %li.nav-item
          = link_to intro_users_path, class: "nav-link " do
            コース

      - unless user_signed_in?
        %ul.navbar-nav
          %li.nav-item
            = link_to new_user_registration_path, class: "nav-link " do
              アカウント登録
  
          %li.nav-item
            = link_to new_user_session_path, class: "nav-link " do
              ログイン
  
      - else
        %ul.navbar-nav
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              - if current_user.profile.avatar.present?
                = image_tag(current_user.profile.avatar.url, alt: "", class: "rounded-circle minisize-icon")
              = current_user.nickname
            .dropdown-menu.dropdown-menu-right.navbar-dark.bg-dark{"aria-labelledby" => "navbarDropdown"}
              .dropdown-item.bg-dark
                - if current_user.profile.nil?
                  = link_to new_profile_path, class: "nav-link " do
                    プロフィール登録
                - elsif current_user.profile.user_id == current_user.id
                  = link_to  edit_profile_path(current_user.profile.id), class: "nav-link " do
                    プロフィール編集
              -# カード情報登録の有無で表示非表示
              - if current_user.card
                .dropdown-item.bg-dark
                  = link_to new_store_profile_path, class: "nav-link " do
                    店舗情報 投稿
                .dropdown-item.bg-dark
                  = link_to new_item_profile_path, class: "nav-link " do
                    商品情報 投稿
                .dropdown-item.bg-dark
                  = link_to new_service_profile_path, class: "nav-link " do
                    サービス情報 投稿
                .dropdown-item.bg-dark
                  = link_to new_event_profile_path, class: "nav-link " do
                    イベント情報 投稿
              .dropdown-divider
              .dropdown-item.bg-dark
                = link_to users_path(id: current_user.id), class: "nav-link" do
                  マイページ
              .dropdown-item.bg-dark
                = link_to destroy_user_session_path, method: :delete, class: "nav-link" do
                  ログアウト
    
