!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myprofile
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css", :integrity => "sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk", :rel => "stylesheet"}/    
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{ rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag 'application'
    %script{ type: "text/javascript", src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
    %script{src: "https://aframe.io/releases/1.0.4/aframe.min.js"}
    %script{src: "https://js.pay.jp/", type: "text/javascript"}

    %script{:crossorigin => "anonymous", :integrity => "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", :src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"}
    
    // Swiper.js
    %link{:href => "https://unpkg.com/swiper/swiper-bundle.css", :rel => "stylesheet"}
    %script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}

    // animate.css
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css", :rel => "stylesheet"}
    // wow.js
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"}

  %body
    
    = render 'layouts/header'
    = render 'layouts/notifications'
    = yield
    = render 'layouts/footer'
    %script{:crossorigin => "anonymous", :integrity => "sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"}


    %script{src: "https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"}
    %script{src: "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"}
    %script{src: "https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"}
    %script{src: "https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"}

    = javascript_pack_tag 'script'
    :javascript
      new WOW().init();